* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

/*header and footer*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4vh;
}

header img {
    width: 30vh;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 15px;
    border-radius: 17px;
    background-color: rgb(236, 220, 5);
    cursor: pointer;
}

header a:hover {
    border: 1px solid rgb(102, 92, 92);
    padding: 20px;
    margin: -5px;
    transition: 0.2s;
}

footer {

    height: 10vh;
    background-color: black;
    color: white;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Body index proveedores*/

h1 {
    text-align: center;
    text-decoration: solid;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

div table {
    margin: auto;
    margin-bottom: 4vh;
}

th,
td {
    padding: 3vh;
    padding-bottom: 1vh;
}

/*imagenes eliminar i editar*/

div img {
    width: 9vh;
    height: 8vh;
}

div a {
    width: 9vh;
    height: 8vh;
}

/* Responsive */

@media screen and (max-width: 800px) {


    table {
        width: 100%;
    }

    thead {
        display: none;
    }

    tr td:first-child {
        margin-top: 2.5vh;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
    }

    tbody td {
        display: block;
        text-align: center;
    }

    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 400) {

    header a {

        padding: 2vh;
        margin: 10vh;
    }

}